* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

:root {
  background-color: cadetblue;
}

body {
  width:90%;
  margin: 0 auto;
}

.header {
display: flex;
flex-direction: column;
height: 150px;
margin: 0 auto;
background-color: darkslategrey;
border-bottom: 2px solid lightgrey;
}

h1 {
font-size: 2em;
padding-top: 8px;
}

h3 {
font-family: fantasy;
font-size: 1.4em;;
padding-bottom: 5px;
}

h1,h3 {
  justify-content: flex-start;
  color: linen;
  padding-left: 15px;
}

.info {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.search {
background-color: burlywood;
font-size: 16px;
opacity: 70%;
text-align: left;
height: 46px;
width:235px;
margin: 0 auto;
color: grey;
border-radius: 5px;
}

.search::placeholder {
  color: linen;
  text-align: right;
}

.search:focus {
  background-color: linen;
}


.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding:6px;
  padding-top: 50px;
}

a.example-light {
  padding: 6px;
  max-width: 100%;
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.gallery img {
  padding: 6px;
  max-width: 100%;
  width: 300px;
  height: 250px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1s;
}

img:hover {
opacity: .8;
filter: grayscale(0);
transform: scale(1.1);
}



/*media query*/

@media(min-width:600px){

  .search {
    width: 450px;
  }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding:6px;
  padding-top: 50px;
}

a.example-light {
  padding: 6px;
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.gallery img {
  padding: 6px;
  max-width: 100%;
  height: 200px;
  flex-basis: 1 45%;
  filter: grayscale(100%);
  transition: 1s;
}

img:hover {
opacity: .8;
filter: grayscale(0);
transform: scale(1.1);
}

}



@media(min-width:768px) {
  h1 {
  font-size: 48px;
}
  h2 {
  font-size: 36px;
}

.search {
  width: 600px;
}


  .gallery img {
  flex-basis: 1 25%;
}
}
